* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #343434;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "SBAggro" !important;
  background-color: #fdfbf7;
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
  }
}

.menu_vis {
  animation: fadeIn 0.3s ease-in-out;
}

.hidden {
  display: none !important;
}

.vis {
  height: 100% !important;
  white-space: inherit !important;
}

.container {
  display: grid;
  grid-template-rows: 120px 1fr;
  align-items: center;
  gap: 30px;
}

/* 로고 */

.logo-div {
  display: flex;
  justify-content: center;
}

.top {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.top li {
  display: flex;
  margin-left: 3%;
  font-weight: 300;
}

#logo {
  position: absolute;
  width: 100px;
  cursor: pointer;
  top: 30px;
}

.top-bar-list {
  padding-right: 80px;
  display: flex;
  justify-content: flex-end;
}

.top li a:hover,
.top li i:hover {
  color: #f85e24;
  cursor: pointer;
  transition: all ease 0.3s;
}

.top .search_input {
  margin-left: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #343434;
  background-color: #f9f5f000;
  padding: 4px;
  font-size: 1rem;
  width: 300px;
}

.top .search_input:focus {
  outline: none;
}

/* menu */
.menu {
  width: 180px;
  margin-left: 80px;
  cursor: pointer;
  position: fixed;
  top: 35%;
}

.menu .menu_list {
  margin-bottom: 20px;
}

.menu .menu_list .menu_header {
  align-items: center;
  width: 100px;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.menu .menu_list .menu_contents .menu_item {
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: 300;
}

.menu_header:hover,
.menu_item:hover {
  color: #f85e24;
}

/* menu bottom */
.menu_bottom {
  position: fixed;
  bottom: 0;
}

.nav {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: #fdfbf7;
  border-top: 1.5px solid #e9e6e0;
}

.nav ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1.2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* padding-inline-start: 40px; */
}

.nav ul li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
}

.nav ul li i {
  cursor: pointer;
  color: #f85e24;
  font-size: 1.3rem;
}

.nav ul li i:hover {
  font-size: 1.4rem;
  text-shadow: 2px 2px 2px #f0f0f0;
}

/* contents */

.contents {
  display: grid;
  grid-template-rows: 1fr 300px;
  gap: 50px;
}

.select_list {
  padding: 0 250px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 30px;
  font-weight: 300;
}

.select_list_item {
  padding: 0 25px;
  cursor: pointer;
}

.select_list_item:hover {
  color: #f85e24;
  transition: 0.3s;
}
/* item-list */

/* PC (해상도 1024px)*/

@media (max-width: 1440px) {
  .item_list,
  .select_list {
    padding: 0 200px !important;
  }
  .item_list_item {
    padding: 15px !important;
  }
  .select_list_item {
    padding: 0 25px;
  }
  .menu {
    margin-left: 60px;
  }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/

@media (max-width: 1024px) {
  .item {
    width: 33.3333% !important;
  }
  .item_list,
  .select_list {
    padding: 0 100px !important;
  }
  .logo-div {
    justify-content: flex-start !important;
    margin-left: 115px !important;
  }
  #logo {
    width: 100px !important;
  }
  .top-bar {
    margin-right: 40px;
  }
  .select_list {
    margin-bottom: 10px !important;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 768px) {
  .item {
    width: 50% !important;
  }
  .item_list {
    padding: 0 15px !important;
  }
  .logo-div {
    justify-content: flex-start !important;
    margin-left: 30px !important;
  }
  #logo {
    width: 70px !important;
  }

  .page {
    font-size: 1rem !important;
    font-weight: 300 !important;
  }
  .top {
    font-size: 1.3rem !important;
    color: #343434;
    float: right;
  }
  .top-bar {
    margin-right: 30px;
  }
}

.item_list {
  padding: 0 250px;
}

.item_list_item {
  padding: 25px;
}

.item {
  width: 25%;
  display: inline-block;
  cursor: pointer;
  align-items: center;
}

.img-heart {
  width: 100%;
  overflow: hidden;
}

.item #item_img {
  width: 100%;
}

.item #item_img:hover {
  transition: all ease 1s;
  transform: scale(1.2, 1.2);
}

.item ul #item_title {
  padding: 3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 4px;
}

.item ul #item_name {
  padding: 3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.item ul #item_price {
  font-weight: 300;
  font-size: 1rem;
}

.img-heart .fa-regular,
.img-heart .fa-solid {
  color: #f85e24;
}

.page {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.page span {
  margin: 0 20px;
}

.page span:hover {
  cursor: pointer;
  color: #f85e24;
}

.selected {
  color: #f85e24;
}

/* 하트 */
.img-heart {
  font-size: 1.5rem;
  position: relative;
}

.toggle-heart {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
