
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #343434;
    font-family: 'GmarketSansMedium';

  }


.contentsWrap{
    display: flex;
    width: 1340px;
}



.itemBox{
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

}

.itemName{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 20px;
}

.itemPrice{
    font-size: 13px;
}

.itemQandW{
    display: flex;
    padding-top: 70px;
}

.minus, .plus{
    font-size: larger;
}

.itemQuantity{
    padding-right: 10px;
}


.wishBtn{

    cursor: pointer;
    font-size: 20px;
}



.chkoutSelectBtn{
    display: flex;
}

.shoppingCartBtn{
    width: 170px;
    height: 40px;
    background-color:  #f85e24;
    border: none;
    color: white;
}

.checkoutDirectlyBtn{
    width: 170px;
    height: 40px;
    background-color: black;
    border: none;
    color: white;

}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.main-scroll-div {
    width: 100%;
    margin-top: 30px;
    margin-left: 50px;
}

.cover {
    position: relative;
    width: 90%;
    height: 50%;
}
.scroll-image {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.child {
    height: 450px;
    cursor: pointer;
    border: 1px solid white;
}

.child-img {
    /* width: 100%; */
    height: 100%;
}
